Flujos/http_a_mongo.json
[
    {
        "id": "26fb2e74c07ee194",
        "type": "tab",
        "label": "Flujo OctoPrint con Mongo y Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e1f35a42fdfd1fad",
        "type": "inject",
        "z": "26fb2e74c07ee194",
        "name": "Obtener Printer y Job",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "03455c4860513f16",
                "78f244e2b4ecd4ee"
            ]
        ]
    },
    {
        "id": "03455c4860513f16",
        "type": "http request",
        "z": "26fb2e74c07ee194",
        "name": "Estado OctoPrint",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://octoprint:5000/api/printer",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-Api-Key",
                "valueType": "other",
                "valueValue": "hsG_K1UppJ-3FToFKbNOMI5HchM3Mbmo6OxqAL1WV6w"
            }
        ],
        "x": 390,
        "y": 200,
        "wires": [
            [
                "9985cea98f30ce9f"
            ]
        ]
    },
    {
        "id": "78f244e2b4ecd4ee",
        "type": "http request",
        "z": "26fb2e74c07ee194",
        "name": "Job Info",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://octoprint:5000/api/job",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-Api-Key",
                "valueType": "other",
                "valueValue": "hsG_K1UppJ-3FToFKbNOMI5HchM3Mbmo6OxqAL1WV6w"
            }
        ],
        "x": 360,
        "y": 240,
        "wires": [
            [
                "9985cea98f30ce9f"
            ]
        ]
    },
    {
        "id": "9985cea98f30ce9f",
        "type": "function",
        "z": "26fb2e74c07ee194",
        "name": "Unir Printer y Job",
        "func": "let printerData = msg.payload.printer || {};\nlet jobData = msg.payload.job || {};\n\n// Crear un nuevo objeto combinado\nlet combinedData = {\n    printer: printerData,\n    job: jobData\n};\n\n// Asegurarnos de que msg.topic esté presente\nmsg.topic = \"octoprint_job_data\";\nmsg.payload = combinedData;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 220,
        "wires": [
            [
                "mongodb_out",
                "2bbfdf068859738e"
            ]
        ]
    },
    {
        "id": "mongodb_out",
        "type": "mongodb out",
        "z": "26fb2e74c07ee194",
        "mongodb": "636ec7b7a3a6c191",
        "name": "Guardar en MongoDB",
        "collection": "octoprint_data",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1040,
        "y": 220,
        "wires": []
    },
    {
        "id": "2bbfdf068859738e",
        "type": "debug",
        "z": "26fb2e74c07ee194",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 140,
        "wires": []
    },
    {
        "id": "636ec7b7a3a6c191",
        "type": "mongodb",
        "hostname": "mongodb",
        "topology": "direct",
        "connectOptions": "",
        "port": 27017,
        "db": "octoprint",
        "name": "MONGODB"
    }
]