Flujos/httprequest-octoprint-command.json
[
    {
        "id": "4730c7f0bab2b9a9",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43a087babb687d15",
        "type": "group",
        "z": "4730c7f0bab2b9a9",
        "name": "IS PRINTING?",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "64dcb0db87e842c5",
            "7b08c0599c040c4d",
            "f58931c849a871d1",
            "a8174f760bdf02e4",
            "419ae280350bcde5",
            "9ff8c46abee7274f",
            "aa7f060424e95f47",
            "1f1dadf79994dc98",
            "a5b5d5153cddb81f"
        ],
        "x": 274,
        "y": 979,
        "w": 862,
        "h": 242
    },
    {
        "id": "f1a2c7a0e2c8b9f1",
        "type": "inject",
        "z": "4730c7f0bab2b9a9",
        "name": "Enviar M114",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 430,
        "y": 540,
        "wires": [
            [
                "b3b31df0e85c1a01"
            ]
        ]
    },
    {
        "id": "b3b31df0e85c1a01",
        "type": "function",
        "z": "4730c7f0bab2b9a9",
        "name": "Preparar M114",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"X-Api-Key\": \"sHyUL2EZ8Q_Cq8Lpi_B6gkaobZbOqtEb6PRbxxgedpo\"\n};\nmsg.payload = {\n    \"command\": \"M105\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 540,
        "wires": [
            [
                "c8d19b5c633c482e"
            ]
        ]
    },
    {
        "id": "c8d19b5c633c482e",
        "type": "http request",
        "z": "4730c7f0bab2b9a9",
        "name": "Enviar a OntoPrint",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://octoprint:5000/api/printer/command",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 820,
        "y": 540,
        "wires": [
            [
                "e1d20d89981a7c57"
            ]
        ]
    },
    {
        "id": "e1d20d89981a7c57",
        "type": "debug",
        "z": "4730c7f0bab2b9a9",
        "name": "Respuesta",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 540,
        "wires": []
    },
    {
        "id": "18106689756471b5",
        "type": "inject",
        "z": "4730c7f0bab2b9a9",
        "name": "Solicitar posición",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "01a02d7f1668dd50"
            ]
        ]
    },
    {
        "id": "01a02d7f1668dd50",
        "type": "function",
        "z": "4730c7f0bab2b9a9",
        "name": "Preparar M114",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"X-Api-Key\": \"sHyUL2EZ8Q_Cq8Lpi_B6gkaobZbOqtEb6PRbxxgedpo\"\n};\nmsg.payload = {\n    \"command\": \"M114\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 360,
        "wires": [
            [
                "dd2367b6e46e1a51"
            ]
        ]
    },
    {
        "id": "dd2367b6e46e1a51",
        "type": "http request",
        "z": "4730c7f0bab2b9a9",
        "name": "Enviar a OntoPrint",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://octoprint:5000/api/printer/command",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 820,
        "y": 360,
        "wires": [
            [
                "4b125563c3eacdd4"
            ]
        ]
    },
    {
        "id": "4b125563c3eacdd4",
        "type": "delay",
        "z": "4730c7f0bab2b9a9",
        "name": "Esperar 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "e2aa61bb4c7fa8b3"
            ]
        ]
    },
    {
        "id": "e2aa61bb4c7fa8b3",
        "type": "function",
        "z": "4730c7f0bab2b9a9",
        "name": "Preparar GET posición",
        "func": "msg.headers = {\n    \"X-Api-Key\": \"sHyUL2EZ8Q_Cq8Lpi_B6gkaobZbOqtEb6PRbxxgedpo\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 360,
        "wires": [
            [
                "8a399c19f51654ef"
            ]
        ]
    },
    {
        "id": "8a399c19f51654ef",
        "type": "http request",
        "z": "4730c7f0bab2b9a9",
        "name": "Obtener posición actual",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://octoprint:5000/api/printer",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1420,
        "y": 360,
        "wires": [
            [
                "31222cbff378a368"
            ]
        ]
    },
    {
        "id": "31222cbff378a368",
        "type": "debug",
        "z": "4730c7f0bab2b9a9",
        "name": "Posición (respuesta)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1650,
        "y": 360,
        "wires": []
    },
    {
        "id": "b6ef1b2c0b1d4b7f",
        "type": "mqtt in",
        "z": "4730c7f0bab2b9a9",
        "name": "X",
        "topic": "octoPrint/",
        "qos": "0",
        "datatype": "auto",
        "broker": "4b50b82dd1e6f2fa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "92f76b8ef51ddcc1",
        "type": "debug",
        "z": "4730c7f0bab2b9a9",
        "name": "Posición X",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 720,
        "wires": []
    },
    {
        "id": "b1f3e7aa7094de4e",
        "type": "mqtt in",
        "z": "4730c7f0bab2b9a9",
        "name": "Espía MQTT",
        "topic": "state_id",
        "qos": "0",
        "datatype": "auto",
        "broker": "4b50b82dd1e6f2fa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 800,
        "wires": [
            [
                "d9481e2a067d6842"
            ]
        ]
    },
    {
        "id": "d9481e2a067d6842",
        "type": "debug",
        "z": "4730c7f0bab2b9a9",
        "name": "Ver todo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 800,
        "wires": []
    },
    {
        "id": "f894757778eb8f64",
        "type": "http request",
        "z": "4730c7f0bab2b9a9",
        "name": "Info",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://octoprint:5000//api/printer/objects/query",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-Api-Key",
                "valueType": "other",
                "valueValue": "sHyUL2EZ8Q_Cq8Lpi_B6gkaobZbOqtEb6PRbxxgedpo"
            }
        ],
        "x": 550,
        "y": 220,
        "wires": [
            [
                "0b4ccab703fda881"
            ]
        ]
    },
    {
        "id": "f13f465e1764f8d9",
        "type": "inject",
        "z": "4730c7f0bab2b9a9",
        "name": "GET",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "f894757778eb8f64"
            ]
        ]
    },
    {
        "id": "0b4ccab703fda881",
        "type": "debug",
        "z": "4730c7f0bab2b9a9",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "0bc32a96f5332976",
        "type": "mqtt in",
        "z": "4730c7f0bab2b9a9",
        "name": "Espía MQTT",
        "topic": "#",
        "qos": "0",
        "datatype": "auto",
        "broker": "4b50b82dd1e6f2fa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "2f537db746427c39"
            ]
        ]
    },
    {
        "id": "2f537db746427c39",
        "type": "debug",
        "z": "4730c7f0bab2b9a9",
        "name": "Ver todo",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "64dcb0db87e842c5",
        "type": "mqtt in",
        "z": "4730c7f0bab2b9a9",
        "g": "43a087babb687d15",
        "name": "PRINTING MQTT",
        "topic": "octoPrint/event/PrinterStateChanged",
        "qos": "0",
        "datatype": "auto",
        "broker": "4b50b82dd1e6f2fa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 1060,
        "wires": [
            [
                "7b08c0599c040c4d"
            ]
        ]
    },
    {
        "id": "7b08c0599c040c4d",
        "type": "json",
        "z": "4730c7f0bab2b9a9",
        "g": "43a087babb687d15",
        "name": "Convertir a JSON",
        "action": "obj",
        "pretty": false,
        "x": 600,
        "y": 1060,
        "wires": [
            [
                "f58931c849a871d1"
            ]
        ]
    },
    {
        "id": "f58931c849a871d1",
        "type": "switch",
        "z": "4730c7f0bab2b9a9",
        "g": "43a087babb687d15",
        "name": "¿Es PRINTING?",
        "property": "payload.state_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "PRINTING",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 1060,
        "wires": [
            [
                "a8174f760bdf02e4"
            ],
            [
                "419ae280350bcde5"
            ]
        ]
    },
    {
        "id": "a8174f760bdf02e4",
        "type": "change",
        "z": "4730c7f0bab2b9a9",
        "g": "43a087babb687d15",
        "name": "Reiniciar temporizador",
        "rules": [
            {
                "t": "set",
                "p": "timerActive",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "419ae280350bcde5",
        "type": "change",
        "z": "4730c7f0bab2b9a9",
        "g": "43a087babb687d15",
        "name": "Activar temporizador",
        "rules": [
            {
                "t": "set",
                "p": "timerActive",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "timerStart",
                "pt": "flow",
                "to": "$now()",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "9ff8c46abee7274f",
        "type": "inject",
        "z": "4730c7f0bab2b9a9",
        "g": "43a087babb687d15",
        "name": "Cada 5 segundos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 1140,
        "wires": [
            [
                "aa7f060424e95f47"
            ]
        ]
    },
    {
        "id": "aa7f060424e95f47",
        "type": "switch",
        "z": "4730c7f0bab2b9a9",
        "g": "43a087babb687d15",
        "name": "¿Timer activo?",
        "property": "timerActive",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 1140,
        "wires": [
            [
                "1f1dadf79994dc98"
            ],
            [
                "a5b5d5153cddb81f"
            ]
        ]
    },
    {
        "id": "1f1dadf79994dc98",
        "type": "link out",
        "z": "4730c7f0bab2b9a9",
        "g": "43a087babb687d15",
        "name": "link out 7",
        "mode": "link",
        "links": [],
        "x": 985,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a5b5d5153cddb81f",
        "type": "function",
        "z": "4730c7f0bab2b9a9",
        "g": "43a087babb687d15",
        "name": "Verificar tiempo",
        "func": "// Obtener tiempo de inicio y tiempo actual\nvar startTime = flow.get('timerStart');\nvar currentTime = new Date();\n\n// Calcular diferencia en milisegundos\nvar diff = currentTime - startTime;\nvar thirtyMinutes = 30 * 60 * 1000;\n\n// Si han pasado menos de 30 minutos, continuar\nif (diff < thirtyMinutes) {\n    return msg;\n} else {\n    // Desactivar timer si han pasado más de 30 minutos\n    flow.set('timerActive', false);\n    return null; // No continuar el flujo\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1180,
        "wires": [
            [
                "1f1dadf79994dc98"
            ]
        ]
    },
    {
        "id": "4b50b82dd1e6f2fa",
        "type": "mqtt-broker",
        "name": "Octo-MQTT",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "nodered",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "5",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]