Flujos/orion_dummy.json
[
    {
        "id": "e23f1983c84789d3",
        "type": "tab",
        "label": "FIWARE Orion API (Subscriptions)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1db6fce3eff76d6e",
        "type": "group",
        "z": "e23f1983c84789d3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2ac1f88437721c09",
            "f5a42bec2f60977d",
            "f31e7b707f90abdc",
            "8b15208abf929892",
            "cd678e7aed7adbf8",
            "30926d9b594c3335",
            "934734cdb23a3f2c"
        ],
        "x": 14,
        "y": 699,
        "w": 852,
        "h": 242
    },
    {
        "id": "c14beab13d5d19d3",
        "type": "group",
        "z": "e23f1983c84789d3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9f061e41d38d3454",
            "f53dc6b3119dcf6f",
            "bcf4ce2861115c7b",
            "1d1adff2aecc40fa",
            "f0a82c18dc9a725c",
            "a9f8e06a689b6062",
            "e16f1b69c64b879a",
            "f3a87ee5bed2c351",
            "de44d7a2adc7ece8",
            "1d805165b99e81ff"
        ],
        "x": 14,
        "y": 959,
        "w": 932,
        "h": 462
    },
    {
        "id": "79fe73f097c38d91",
        "type": "group",
        "z": "e23f1983c84789d3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cbfb2a228fc36e9b",
            "3c9b0fc1e9bb09e1",
            "654a606e6779f23b",
            "318ac84445e1b46e",
            "73c40a25c4d99f52",
            "63fe0070c7d68293",
            "8931d23f01661e9e",
            "361eab9c3c85d869",
            "fdc2edbc519b4458",
            "5d43f69f1841a5c5",
            "2876accd7ffe24dd",
            "045364457f4db25f",
            "f86e03f02e69470f"
        ],
        "x": 14,
        "y": 19,
        "w": 832,
        "h": 662
    },
    {
        "id": "9f061e41d38d3454",
        "type": "http request",
        "z": "e23f1983c84789d3",
        "g": "c14beab13d5d19d3",
        "name": "List Subscriptions",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/subscriptions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 1000,
        "wires": [
            [
                "de44d7a2adc7ece8"
            ]
        ]
    },
    {
        "id": "f53dc6b3119dcf6f",
        "type": "http request",
        "z": "e23f1983c84789d3",
        "g": "c14beab13d5d19d3",
        "name": "Create Subscription",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/subscriptions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 410,
        "y": 1180,
        "wires": [
            [
                "de44d7a2adc7ece8"
            ]
        ]
    },
    {
        "id": "bcf4ce2861115c7b",
        "type": "http request",
        "z": "e23f1983c84789d3",
        "g": "c14beab13d5d19d3",
        "name": "Delete Subscription",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/subscriptions/{{{subscriptionId}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 1280,
        "wires": [
            [
                "de44d7a2adc7ece8"
            ]
        ]
    },
    {
        "id": "1d1adff2aecc40fa",
        "type": "function",
        "z": "e23f1983c84789d3",
        "g": "c14beab13d5d19d3",
        "name": "Prepare Create Subscription",
        "func": "msg.payload = {\n    \"description\": \"Notify on temperature changes\",\n    \"subject\": {\n        \"entities\": [\n            { \"idPattern\": \"Device.*\", \"type\": \"Device\" }\n        ],\n        \"condition\": {\n            \"attrs\": [ \"temperature\" ]\n        }\n    },\n    \"notification\": {\n        \"http\": {\n            \"url\": \"http://localhost:1881/notify\"\n        },\n        \"attrs\": [ \"temperature\", \"humidity\" ]\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1080,
        "wires": [
            [
                "f53dc6b3119dcf6f"
            ]
        ]
    },
    {
        "id": "f0a82c18dc9a725c",
        "type": "inject",
        "z": "e23f1983c84789d3",
        "g": "c14beab13d5d19d3",
        "name": "Create Subscription",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 1080,
        "wires": [
            [
                "1d1adff2aecc40fa"
            ]
        ]
    },
    {
        "id": "a9f8e06a689b6062",
        "type": "inject",
        "z": "e23f1983c84789d3",
        "g": "c14beab13d5d19d3",
        "name": "List Subscriptions",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "9f061e41d38d3454"
            ]
        ]
    },
    {
        "id": "e16f1b69c64b879a",
        "type": "inject",
        "z": "e23f1983c84789d3",
        "g": "c14beab13d5d19d3",
        "name": "Delete Subscription",
        "props": [
            {
                "p": "subscriptionId",
                "v": "6756faace15b09d28165ad70",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 150,
        "y": 1280,
        "wires": [
            [
                "bcf4ce2861115c7b"
            ]
        ]
    },
    {
        "id": "f3a87ee5bed2c351",
        "type": "http in",
        "z": "e23f1983c84789d3",
        "g": "c14beab13d5d19d3",
        "name": "Notify Endpoint",
        "url": "/notify",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 1380,
        "wires": [
            [
                "1d805165b99e81ff"
            ]
        ]
    },
    {
        "id": "de44d7a2adc7ece8",
        "type": "debug",
        "z": "e23f1983c84789d3",
        "g": "c14beab13d5d19d3",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 840,
        "y": 1180,
        "wires": []
    },
    {
        "id": "1d805165b99e81ff",
        "type": "debug",
        "z": "e23f1983c84789d3",
        "g": "c14beab13d5d19d3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1380,
        "wires": []
    },
    {
        "id": "2ac1f88437721c09",
        "type": "inject",
        "z": "e23f1983c84789d3",
        "g": "1db6fce3eff76d6e",
        "name": "List Subscriptions",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 900,
        "wires": [
            [
                "f5a42bec2f60977d"
            ]
        ]
    },
    {
        "id": "f5a42bec2f60977d",
        "type": "http request",
        "z": "e23f1983c84789d3",
        "g": "1db6fce3eff76d6e",
        "name": "Get Subscriptions",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/subscriptions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 900,
        "wires": [
            [
                "f31e7b707f90abdc"
            ]
        ]
    },
    {
        "id": "f31e7b707f90abdc",
        "type": "debug",
        "z": "e23f1983c84789d3",
        "g": "1db6fce3eff76d6e",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 760,
        "y": 900,
        "wires": []
    },
    {
        "id": "8b15208abf929892",
        "type": "inject",
        "z": "e23f1983c84789d3",
        "g": "1db6fce3eff76d6e",
        "name": "Create Subscription",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 740,
        "wires": [
            [
                "cd678e7aed7adbf8"
            ]
        ]
    },
    {
        "id": "cd678e7aed7adbf8",
        "type": "function",
        "z": "e23f1983c84789d3",
        "g": "1db6fce3eff76d6e",
        "name": "Prepare Create Subscription",
        "func": "msg.payload = {\n    \"description\": \"Notify when temperature greater than 50\",\n    \"subject\": {\n        \"entities\": [\n            { \"idPattern\": \"Device.*\", \"type\": \"Device\" }\n        ],\n        \"condition\": {\n            \"attrs\": [\"temperature\"],\n            \"expression\": {\n                \"q\": \"temperature>50\"\n            }\n        }\n    },\n    \"notification\": {\n        \"http\": {\n            \"url\": \"http://host.docker.internal:1895/notify\"\n        },\n        \"attrs\": [ \"temperature\", \"humidity\" ]\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 740,
        "wires": [
            [
                "30926d9b594c3335"
            ]
        ]
    },
    {
        "id": "30926d9b594c3335",
        "type": "http request",
        "z": "e23f1983c84789d3",
        "g": "1db6fce3eff76d6e",
        "name": "Create Subscription",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/subscriptions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 430,
        "y": 800,
        "wires": [
            [
                "934734cdb23a3f2c"
            ]
        ]
    },
    {
        "id": "934734cdb23a3f2c",
        "type": "debug",
        "z": "e23f1983c84789d3",
        "g": "1db6fce3eff76d6e",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 740,
        "y": 800,
        "wires": []
    },
    {
        "id": "cbfb2a228fc36e9b",
        "type": "http request",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "Create Entity",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/entities",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 60,
        "wires": [
            [
                "fdc2edbc519b4458"
            ]
        ]
    },
    {
        "id": "3c9b0fc1e9bb09e1",
        "type": "http request",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "Query Entity",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/entities?type=Device",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 200,
        "wires": [
            [
                "fdc2edbc519b4458"
            ]
        ]
    },
    {
        "id": "654a606e6779f23b",
        "type": "http request",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "Update Entity",
        "method": "PATCH",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/entities/Device001/attrs",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 380,
        "wires": [
            [
                "fdc2edbc519b4458"
            ]
        ]
    },
    {
        "id": "318ac84445e1b46e",
        "type": "http request",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "Delete Entity",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/entities/Device001",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 460,
        "wires": [
            [
                "fdc2edbc519b4458"
            ]
        ]
    },
    {
        "id": "73c40a25c4d99f52",
        "type": "inject",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "Create Entity",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "5d43f69f1841a5c5"
            ]
        ]
    },
    {
        "id": "63fe0070c7d68293",
        "type": "inject",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "Query Entity",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "3c9b0fc1e9bb09e1"
            ]
        ]
    },
    {
        "id": "8931d23f01661e9e",
        "type": "inject",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "Update Entity",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "2876accd7ffe24dd"
            ]
        ]
    },
    {
        "id": "361eab9c3c85d869",
        "type": "inject",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "Delete Entity",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "318ac84445e1b46e"
            ]
        ]
    },
    {
        "id": "fdc2edbc519b4458",
        "type": "debug",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "5d43f69f1841a5c5",
        "type": "function",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "Prepare Create Entity",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\"\n};\nmsg.payload = {\n    \"id\": \"Device001\",\n    \"type\": \"Device\",\n    \"temperature\": {\n        \"value\": 22.5,\n        \"type\": \"Float\"\n    },\n    \"humidity\": {\n        \"value\": 60,\n        \"type\": \"Integer\"\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            [
                "cbfb2a228fc36e9b"
            ]
        ]
    },
    {
        "id": "2876accd7ffe24dd",
        "type": "function",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "Prepare Update Entity",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\"\n};\nmsg.payload = {\n    \"temperature\": {\n        \"value\": 25.0,\n        \"type\": \"Float\"\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 280,
        "wires": [
            [
                "654a606e6779f23b"
            ]
        ]
    },
    {
        "id": "045364457f4db25f",
        "type": "http request",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "Create Entity",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/entities",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 640,
        "wires": [
            [
                "fdc2edbc519b4458"
            ]
        ]
    },
    {
        "id": "f86e03f02e69470f",
        "type": "inject",
        "z": "e23f1983c84789d3",
        "g": "79fe73f097c38d91",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 640,
        "wires": [
            [
                "045364457f4db25f"
            ]
        ]
    }
]